.home {
    .search {
        display: grid; 
        grid-template-columns: repeat(7,1fr);
        // center the search bar
        justify-content: center;
        .select{
            &.true{
                color:red;
            }
        }
    }
}

.dscvrtext{
    color: #b24202;
    text-align: center;
    text-shadow: 2px 2px 5px #6f988a;
    font-family: sans-serif, Helvetica;

}

.centerbutton{
    display: flex, grid;
    text-align: center;
    margin: auto;
}

 .carousel-item > img {
     width: 100%;
 }