.home {
    .search {
        display: grid; 
        grid-template-columns: repeat(7,1fr);
        .select{
            &.true{
                color:red;
            }
            input{
                opacity:0;
            }
        }
    }
}
