@import 'bootstrap';
@import 'home';

.log-in-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    .field {
        font-size: 20px;
        margin-bottom: 5px;
        color: #0C2D48;
        font-family: 'Ubuntu';

        input {
            padding: 0.4rem;
            font-size: 15px;
            width: 100%;
            font-family: 'Ubuntu';
        }

        input:hover {
            background-color: #ABC9BD;
            color: #E5790D;
        }
    }
}

.sign-up-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    .field {
        font-size: 20px;
        margin-bottom: 5px;
        color: #0C2D48;
        font-family: 'Ubuntu';

        input {
            padding: 0.4rem;
            font-size: 15px;
            width: 100%;
            font-family: 'Ubuntu';
        }

        input:hover {
            background-color: #ABC9BD;
            color: #E5790D;
        }
    }
}

.rememberbox{
    display:flex;
    display: inline-block;
}